version: "3.9"
services:
  api-gateway:
    image: ${API_GATEWAY_IMAGE}
    restart: unless-stopped
    ports:
      - "8881:8081"
    environment:
      - TRIP_SERVICE_URL=http://trip-service:9091
    networks:
      - trip-network
  trip-service:
    image: ${TRIP_SERVICE_IMAGE}
    restart: unless-stopped
    ports:
      - "8882:8081"
      - "9991:9091"
    networks:
      - trip-network
  frontend:
    image: ${FRONTEND_IMAGE}
    restart: unless-stopped
    ports:
      - "7771:3000"
    networks:
      - trip-network
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_API_URL=http://localhost:8881
      - NEXT_PUBLIC_WEBSOCKET_URL=ws://localhost:8881/ws
networks:
  trip-network:      