version: "3.9"
services:
  api-gateway:
    image: api-gateway:1.0.5
    restart: unless-stopped
    ports:
      - "8881:8081"
    networks:
      - trip-network
  trip-service:
    image: trip-service:1.0.1
    restart: unless-stopped
    ports:
      - "8882:8081"
      - "9991:9091"
    networks:
      - trip-network

networks:
  trip-network:      