version: "3.9"
services:
  api-gateway:
    image: ${API_GATEWAY_DEV_IMAGE}
    restart: unless-stopped
    ports:
      #dlv port
      - "40000:40000"
      - "8881:8885"
    environment:
      - TRIP_SERVICE_URL=trip-service:9091
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - trip-network
  # api-gateway:
  #   image: ${API_GATEWAY_IMAGE}
  #   restart: unless-stopped
  #   ports:
  #     - "8881:8081"
  #   environment:
  #     - TRIP_SERVICE_URL=trip-service:9091
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
  #   networks:
  #     - trip-network
  rabbitmq:
    image: ${RABBITMQ_IMAGE}
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 60s
      retries: 15
      start_period: 60s
    networks:
      - trip-network
  trip-service:
    image: ${TRIP_SERVICE_IMAGE}
    restart: unless-stopped
    ports:
      - "8882:8081"
      - "9991:9091"
    depends_on:
      rabbitmq:
        condition: service_healthy 
    networks:
      - trip-network
  driver-service:
    image: ${DRIVER_SERVICE_IMAGE}
    restart: unless-stopped
    depends_on:
      - rabbitmq
    networks:
      - trip-network    
  payment-service:
    image: ${PAYMENT_SERVICE_IMAGE}
    restart: unless-stopped
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - trip-network   
  frontend:
    image: ${FRONTEND_IMAGE}
    restart: unless-stopped
    ports:
      - "7771:3000"
    networks:
      - trip-network
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_API_URL=http://localhost:8881
      - NEXT_PUBLIC_WEBSOCKET_URL=ws://localhost:8881/ws
networks:
  trip-network:      