version: "3.9"
services:
  api-gateway:
    image: api-gateway:1.0.5
    restart: unless-stopped
    ports:
      - "8881:8081"
    networks:
      - trip-network
  trip-service:
    image: trip-service:1.0.1
    restart: unless-stopped
    ports:
      - "8882:8081"
      - "9991:9091"
    networks:
      - trip-network
  frontend:
    image: web:1.0.0
    restart: unless-stopped
    ports:
      - "7771:3000"
    networks:
      - trip-network
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_API_URL=http://localhost:8881
      - NEXT_PUBLIC_WEBSOCKET_URL=ws://localhost:8881/ws
networks:
  trip-network:      